
.carousel-item img{
  filter: brightness(60%);
}
 .fa-brands{
  
  font-size: 2rem;
  padding: .25rem;
 }
 
/*  Mobile Devices */

@media only screen and (max-width:688px) {
  .container{
    width: 100%;
  }
  .row{
    flex-direction: column;
  }
  .custom{
    flex-direction: column;
  }
/* ---tablets devices */
@media only screen and  (min-width:689px) 
 and  (max-width:888px) {
  .container{
    width: 100%;
  }
  .row{
  
  }
  .custom{
    flex-direction: column;
  }